.FilterBar {
  margin-bottom: 32px;
  color: var(--gray-600);
  text-align: left;
  width: 100%;
}

.FilterBar__select {
  background: transparent;
  border: none;
  padding: 6px 0;
  border-bottom: 3px dashed var(--gray-600);
  color: #587184;
  font-size: 16px;
  font-weight: bold;
}
